*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}
.main button {
    padding: 10px 30px;
    border: solid 1px black;
    text-transform: uppercase;
    border-radius: 3px;
}
.main button:hover {
    color: black;
    background-color: rgb(143, 143, 143, 0.3);
}
